functionsDirectory = "/Users/alfred/.openclaw/workspace/projects/glowpicked/site/netlify/functions"
functionsDirectoryOrigin = "default"
plugins = []
headers = []
redirects = []

[build]
publish = "/Users/alfred/.openclaw/workspace/projects/glowpicked/site/dist"
publishOrigin = "ui"
commandOrigin = "ui"
command = "npm run build"
functions = "/Users/alfred/.openclaw/workspace/projects/glowpicked/site/netlify/functions"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[functions]

[functions."*"]